{% capture location %}{{ page.url | split: '/' }}{% endcapture %}
<header>
	<div class="wrap">
		<h1><a href="/">Katya Zdorov</a></h1>
		
		{% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
		<nav>
			<a {% if location == 'blog' %}class="active" {% endif %}href="/blog/">Blog</a>
			<a {% if location == 'work' %}class="active" {% endif %}href="/work/">Work</a>
			<a {% if location == 'bio' %}class="active" {% endif %}href="/bio/">Bio</a>
			<a {% if location == 'resume' %}class="active" {% endif %}href="/resume/">Resume</a>
			<a {% if location == 'ilike' %}class="active" {% endif %}href="/ilike/">I Like</a>
		</nav>
	</div>
	<div class="banner">
		<div class="wrap">
			{{ page.svg }}
			<h2>{{ page.category }}</h2>
		</div>
	</div>
</header>

