// SVG animation


// BIO

$pine-color: #059154;
$young-pine-color: #15ca44;
@keyframes tree-grow {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1); 
	}
}

.pine {
	transform: scale(0);
	animation-duration: 0.5s;
	animation-timing-function: linear;
	fill: $pine-color;
}
#pine-l {
	transform-origin: 65px 224px;
}
#pine-m {
	animation-delay: 0.5s;
	transform-origin: 171px 179px;
}
#pine-s {
	animation-delay: 1s;
	transform-origin: 116px 66px;
}
#pine-s1 {
	animation-delay: 1.5s;
	animation-duration: 0.3s;
	transform-origin: 176px 49px;
}
#pine-s2 {
	animation-delay: 1.8s;
	animation-duration: 0.3s;
	transform-origin: 31px 74px;
}
.pine {
	animation-name: tree-grow;
}
.pine {
	animation-fill-mode: forwards;
}



// ILIKE
@keyframes heart-beat {
  0% {
	opacity:0;
	transform: scale(0);
  }
  40% {
	opacity: 1;
	transform: scale(1.05); 
  }
  58% {
	transform: scale(0.8); 
  }
  70% {
	transform: scale(1.05); 
  }
  88% {
	transform: scale(0.8);
  }
  100% {
	transform: scale(1); 
  }
}
#heart-big, #heart-small {
	transform-origin: 50% 50%;
	transform: scale(0);
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}
#heart-big {
	animation-name: heart-beat;
}
#heart-small {
	animation-name: heart-beat;
	animation-delay: 1.5s;
	transform-origin: 253px 25px;
}
#heart-big, #heart-small {
	animation-fill-mode: forwards;
}

// WORK
@keyframes laptop-open-cover {
	0% {
		transform: rotateX(-90deg);
	}
	75% {
		transform: rotateX(0deg);
	}
	90% {
		transform: rotateX(10deg);
	}
	100% {
		transform: rotateX(0deg);
	}
}
@keyframes grow {
	0% {
		transform: scale(0);
	}
	30% {
		transform: scale(1.5);
	}
	60% {
		transform: scale(0.9);
	}
}
@keyframes turn {
	0% {
		transform: rotate(0deg) scale(0);
	}
	100% {
		transform: rotate(720deg) scale(1);
	}
}

.svg-container { 
  width: 260px;
  height: 225px;
  position: relative;
  perspective: 450px;
}

#laptop-cover {
	transform-origin: 50% 168px;
	transform-origin: 130px 168px;	
	animation: laptop-open-cover 1s ease-in;
	transform-style: preserve-3d;
	transform: rotateX(-90deg);
	animation-fill-mode: forwards;
}
.angle-bracket, #slash {
	transform-origin: center 104px;
}
.angle-bracket {
	animation: grow 0.5s ease-out backwards;
	animation-delay: 1s;
}
#slash {
	animation: turn 0.5s ease-out backwards;
	animation-delay: 1.2s;
}