<!--
---
layout: page
category: Blog
css_class: blog
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	hahahha
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  {% if page.image %}
  <img src="/img/{{ page.image }}"/>
  {% endif %}
  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article>
-->

<!DOCTYPE html>
<html>

	{% include head.html %}
	
	<body class="{{ page.css_class }}">
		{% include header.html %}
		
		<div class="wrap">
				
		
			<div class="content">
			<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
				<h3>{{ page.title }}</h3>
				<div class="post_meta">
					<b class="post_author">{{ page.author }}</b>
					<b class="post_separator">|</b>
					<b class="post_date">{{ page.date | date: "%b %-d, %Y" }}</b>
				</div>
							
				{% if page.image %}
				<img src="/img/{{ page.image }}"/>
				{% endif %}
				<div class="post-content" itemprop="articleBody">
				{{ content }}
				</div>
			
			</article>
			</div>
		</div>
		{% include footer.html %}
	</body>
	
</html>

