<!DOCTYPE html>
<html>

	{% include head.html %}
	
	<body class="{{ page.css_class }}">
		{% include header.html %}
		
		<div class="wrap">
				
		
			<div class="content">
			<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
				<h3>{{ page.title }}</h3>
				<div class="post_meta">
<!-- 					<b class="post_author">{{ page.author }}</b> -->
<!-- 					<b class="post_separator">|</b> -->
					<span class="date">{{ page.date | date: "%B %-d, %Y" }}</span>
				</div>
							
				<div class="post-content" itemprop="articleBody">
				{{ content }}
				</div>
			
			</article>
			<div class="button-wrapper center">
				<a class="button green back" href="/blog">back to blog</a>
			</div>
			</div>
		</div>
		{% include footer.html %}
	</body>
	
</html>

