<!DOCTYPE html>
<html>

	{% include head.html %}
	
	<body class="{{ page.css_class }}">
		{% include header.html %}
		
		<div class="wrap gallery">
				
		
			<div class="content">
				<ul>
				{% for project in site.projects %}
				  <li>
					<a title="read the post" href="{{ project.url | prepend: site.baseurl }}">
						<picture>
							<!--[if IE 9]><video style="display: none;"><![endif]-->
							<source srcset="/img/work/{{ project.project_name }}/{{ project.image }}, /img/work/{{ project.project_name }}/{{ project.image_retina }} 2x">
							<!--[if IE 9]></video><![endif]-->
							<img srcset="/img/work/{{ project.project_name }}/{{ project.image }}, /img/work/{{ project.project_name }}/{{ project.image_retina }} 2x" alt="{{ project.image_alt }}">
			
							<div class="info">
								<p>{{ project.description }}</p>
							</div>
			
						</picture>
						<h3>{{ project.title }}</h3>
					</a>
				  </li>
				{% endfor %}
				</ul>
			</div>
		</div>
		{% include footer.html %}
	</body>
	
</html>